.btn {
    background-color: #E9A237;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 1;
    border: none;
    transition: background-color .2s ease-in-out;
    &:hover {
        color: #fff;
        background-color: lighten(#E9A237, 5);
    }
    &:active {
        background-color: darken(#E9A237, 5);
    }
    &:disabled {
        background-color: #4C915F;
        cursor:default
    }
    span {
        margin-left: .5em;
        @media(max-width: 540px) {
            margin-left: 0em;
        }
        img {
            height: 1.2em;
            width: 1.2em;
            @media(max-width: 540px) {
                height: 1.9em;
                width: 1.9em;
            }
        }
    }

}