.btn {
    background-color: #E9A237;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 2em;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;
        z-index: 1;
        transition: background-color .2s ease-in-out;
        &:hover {
            color: #fff;
            background-color: lighten(#E9A237, 5);
        }
        &:active {
            background-color: darken(#E9A237, 5);
        }
        span {
            margin-left: .5em;
            img {
              height: 1em;
              width: 1em;
            }
        }

}