// .container {
//     max-width: 1440px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 150px;
// }

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    &:hover {
        color: #000;
        text-decoration: none;
    }
}

body {
    line-height: 1;
    font-size: 0.52083vw;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #A5C8AF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #A5C8AF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #A5C8AF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #A5C8AF;
}




body.active {
    overflow: hidden;
}

p,h1,h2,h3 {
    padding: 0;
    margin: 0;
}

.title {
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 5.6em;
    line-height: 1em;
    text-transform: uppercase;
    color: #134621;
}

.subtitle {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2em;
    color: #4D4D4D;
}


@media(max-width: 1024px) {
    body {
        line-height: 1;
        font-size: 0.95vw;
    }
    
    .subtitle {
        font-size: 1.8em;
        line-height: 1.4em;
    }
}


@media(max-width: 540px) {
    body {
        line-height: 1;
        font-size: 1.85vw;
    }
    .title {
        font-size: 4.6em;
        line-height: 1em;
    }
    
    .subtitle {
        font-size: 1.8em;
        line-height: 1.8em;
    }
}