.navigation {
    align-self: center;
}
.navigation__menu {
    display: flex;
}
.navigation__list {
    margin-right: 3.2em;
}
.navigation__link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 24px;
    color: #F0F0F0;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}
.navigation__social {
    display: none;
}
.navigation__logo {
    display: none;
}


.contacts, .information, .entrys, .services, .bailiffs, .freeconsultation, .individual{
    .navigation__link {
        color: #676767;
    }
}

@media (max-width: 768px)  {
    .contacts, .information, .entrys, .services, .bailiffs, .freeconsultation, .individual{
        .navigation__link {
            color: #fff;
        }
    }
    .navigation {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(16, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        --nr:16; /* number of rows */
        --nc:8; /* number of columns */
        --b:1px; /* border length */
        
        width: 100%;
        --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.2) 0;
        background:
        linear-gradient(to right, var(--g)),
        linear-gradient(to bottom,var(--g));
        background-size:
        calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
        100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
       
        position: fixed;
        width: 100%;
        top: -2000px;
        left: 0;
        opacity: 0;
        background-color: $accent;
        z-index: 5;
        transition: all .2s ease-in-out;

    }
    .navigation__logo {
        display: block;
        font-family: 'Forum', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        grid-column: 4 / 6;
        grid-row: 1 / 2;
        align-self: center;
        &:hover {
            color: #fff;
        }
    }
    .navigation__menu {
        position: fixed;
        height: 90%;
        width: 100%;
        top: -100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // display: none;
        transition: all .2s ease;
    }
    .navigation__menu.active {
        top: 9%;
    }
    

    .navigation.open__menu {
        top: 0px;
        opacity: 1;
    }
    .navigation__list {
        font-size: 2em;
        line-height: 1.5em;
        text-align: center;
        text-transform: uppercase;
        color: #F1F7F3;
        margin: 0;
    }
    .navigation__link {
        font-family: 'Forum', sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    .navigation__social {
        display: grid;
        grid-column: 8 / 9;
        grid-row: 1 / 5;
        z-index: 10;
    }
  }


  @media (max-width: 540px)  {
    .navigation {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(16, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        --nr:16; /* number of rows */
        --nc:5; /* number of columns */
        --b:1px; /* border length */
        

    }
    .navigation__logo {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: center;
    }
    .navigation__menu {
        grid-column: 1 / 6;
        grid-row: 2 / 10;
    }
    .navigation__social {
        grid-column: 5 / 6;
        grid-row: 1 / 5;
    }
  }