.bankruptcy {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column: span 15;
    grid-row: span 7;
}
.bankruptcy__title {
    grid-column: 2 / 10;
    grid-row: 2 / 3;
}
.bankruptcy__info {
    grid-column: 3 / 8;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bankruptcy__count {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 5.6em;
    line-height: 1em;
    color: #1F7537;
}
.bankruptcy__subtitle {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.6em;
    color: #818181;
}
.bankruptcy__btn {
    grid-column: 3 / 7;
    grid-row: 6 / 7;
}

.bankruptcy__img {
    grid-column: 10 / 16;
    grid-row: 2 / 7;
    background-image: url(../images/dist/ur/bankruptcy__img.png);
    background-size: cover;
}
.bankruptcy__color-1 {
    background-color: $lightgreen;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}
.bankruptcy__color-2 {
    background-color: $lightgreen;
    grid-column: 9 / 10;
    grid-row: 7 / 8;
}
.bankruptcy__color-3 {
    background-color: $lightorange;
    grid-column: 8 / 9 ;
    grid-row: 6 / 7;
}
.bankruptcy__color-4 {
    background-color: $lightorange;
    grid-column: 10 / 11 ;
    grid-row: 2 / 3;
}


@media (max-width: 1024px) {
    .bankruptcy {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column: span 8;
        grid-row: span 8;
    }
    .bankruptcy__title {
        grid-column: 2 / 9;
        grid-row: 2 / 3;
        justify-self: center;
        font-size: 4.9em;
    }
    .bankruptcy__info {
        grid-column: 2 / 6;
        grid-row: 4 / 5;
    }
    .bankruptcy__count {
        font-size: 5.3em;
    }
    .bankruptcy__subtitle {
        font-size: 1.9em;
    }
    .bankruptcy__btn {
        grid-column: 2 / 5;
        grid-row: 6 / 7;
    }
    
    .bankruptcy__img {
        background-image: url(../images/dist/ur/bankruptcy__img-tablet.png);
        grid-column: 5 / 9;
        grid-row: 4 / 8;

    }
    .bankruptcy__color-1 {
        display: none;
    }
    .bankruptcy__color-2 {
        display: none;
    }
    .bankruptcy__color-3 {
        display: none;
    }
    .bankruptcy__color-4 {
        display: none;
    }
}


@media (max-width: 540px) {
    .bankruptcy {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(13, 1fr);
        grid-column: span 5;
        grid-row: span 13;
    }
    .bankruptcy__title {
        grid-column: 1 / 5;
        grid-row: 2 / 4;
        font-size: 4.9em;
        align-self: center;
        margin-left: 25px;
    }
    .bankruptcy__info {
        grid-column: 1 / 6;
        grid-row: 10 / 12;
        align-self: flex-start;
        margin: 0 25px;
    }
    .bankruptcy__count {
        font-size: 5.3em;
        margin-bottom: 8px;
    }
    .bankruptcy__subtitle {
        font-size: 1.9em;
    }
    .bankruptcy__btn {
        grid-column: 2 / 6;
        grid-row: 12 / 13;
    }
    
    .bankruptcy__img {
        background-image: url(../images/dist/ur/bankruptcy__img-mobile.png);
        grid-column: 1 / 6;
        grid-row: 5 / 9;

    }

}