.entry {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column: span 15;
    grid-row: span 7;
    width: 100%;

    background: #FBFDFC;
    @media (max-width: 1024px) {
        background: #FBFDFC;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column: span 8;
        grid-row: span 6;
    }
    @media (max-width: 540px) {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column: span 5;
        grid-row: span 9;
    }
}
.entry__navigation {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    z-index: 1;
    @media (max-width: 1024px) {
        grid-column: 3 / 8;
        grid-row: 1 / 2;
        z-index: 5;
    }
}

.entry__social {
    grid-column: 15 / 16;
    grid-row: 1 / 5;
    z-index: 2;
    @media (max-width: 1024px) {
        grid-column: 8 / 9;
        grid-row: 1 / 5;
    }
    @media (max-width: 540px) {
        grid-column: 5 / 6;
        grid-row: 1 / 5;
        .social__list {
            &:not(:first-child) {
                display: none;
            }
        }
    }

}

.entry__logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.6em;
    line-height: 1em;
    color: #1F7537;
    text-decoration: none;
    &:hover {
        color: #1F7537;
    }
    @media (max-width: 540px) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        text-align: center;
    }
}


.entry__color-1 {
    grid-column: 13 / 14;
    grid-row: 1 / 2;
    background-color: $lightgreen;
    z-index: 2;
    @media (max-width: 1024px) {
        display: none;
    }
}
.entry__color-2 {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
    background-color: $lightgreen;
    z-index: 2;
    @media (max-width: 1024px) {
        display: none;
    }
}

.entry__title {
    grid-column: 2 / 7;
    grid-row: 3 / 6;
    font-family: Forum, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9.6em;
    line-height: 1em;
    text-transform: uppercase;
    color: #0D5220;
    position: relative;
    z-index: 1;
    @media (max-width: 1024px) {
        font-size: 6.4em;
        line-height: 1.14em;
        grid-column: 2 / 7;
        grid-row: 3 / 5;
    }
    @media (max-width: 540px) {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        grid-column: 1 / 6;
        grid-row: 3 / 5;
        align-self: flex-start;
        br {
            display: block;
        }
        z-index: 2;
    }
}

.entry__subtitle {
    grid-column: 2 / 7;
    grid-row: 4 / 6;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4em;
    padding: 1em 1.6em;
    border: 1px solid #1F7537;
    border-radius: 40px;
    line-height: 1.5em;
    color: #0D5220;
    align-self: center;
    justify-self: flex-start;
    position: relative;
    z-index: 1;

    @media (max-width: 1024px) {
        font-size: 1.8em;
        line-height: 1.6;
        align-self: center;
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        padding: 0.9em 1.6em;
    }
    @media (max-width: 768px) {
        font-size: 2em;
        line-height: 1.5;
    }
    @media (max-width: 540px) {
        font-size: 16px;
        line-height: 24px;
        grid-column: 1 / 6;
        grid-row: 4 / 5;
        padding: 12px 24px;
        align-self: center;
        justify-self: center;
        z-index: 2;
    }
    @media (max-width: 400px) {
        margin-top: 20px;
    }
}
.entry__btn {
    grid-column: 2 / 5;
    grid-row: 7 / 8;
    @media (max-width: 1024px) {
        grid-column: 1 / 5;
        grid-row: 6 / 7;
    }
    @media (max-width: 540px) {
        grid-column: 1 / 6;
        grid-row: 9 / 10;
    }
}


.entry__slider {
    grid-column: 7 / 14;
    grid-row: 1 / 8;
    overflow: hidden;
    .entry__swiper {
        height: 100%;
    }
    .entry__slide {
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .entry__slide-1 {
        background-image: url(../images/dist/spec/spec-1.png);
    }
    .entry__slide-2 {
        background-image: url(../images/dist/spec/spec-3.png);
    }
    @media (max-width: 1024px) {
        .entry__slide {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            width: 100%;
        }
        grid-column: 5 / 9;
        grid-row: 2 / 6;
    }
    @media (max-width: 540px) {
        .entry__slide {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            width: 100%;
        }
        margin-top: 20px;
        grid-column: 1 / 6;
        grid-row: 4 / 9;
    }
}


.entry__slide_name {
    grid-column: 6 / 8;
    grid-row: 4 / 5;
    align-self: flex-start;
    font-family: Forum, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8em;
    line-height: 1.15em;
    text-transform: uppercase;
    color: #1F7537;
    @media (max-width: 1024px) {
        display: none;
    }
    
}
.entry__slide_prof {
    grid-column: 6 / 8;
    grid-row: 4 / 6;
    align-self: center;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.6em;
    color: #4C915F;
    @media (max-width: 1024px) {
        display: none;
    }
}




.entry__btn-swiper {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #B6CBBC;
    border: none;
    transition: background-color .2s ease;
    &:hover {
        background-color: lighten(#B6CBBC, 5);;
    }
    @media (max-width: 540px) {
        display: none;
    }
}

.entry_btn-next {
    grid-column: 15 / 16;
    grid-row: 7 / 8;
    background-image: url(../images/dist/icon/arrow-right-white.svg);
    border-left: 1px solid #F1F7F3;
    @media (max-width: 1024px) {
       
        grid-column: 8 / 9;
        grid-row: 6 / 7;
    }
}
.entry_btn-prev {
    grid-column: 14 / 15;
    grid-row: 7 / 8;
    background-image: url(../images/dist/icon/arrow-left-white.svg);
    @media (max-width: 1024px) {
        grid-column: 5 / 6;
        grid-row: 6 / 7;
    }
    
}

.entry__sldr {
    display: none;
    @media (max-width: 1024px) {
        display: block;
        grid-column: 6 / 8;
        grid-row: 6 / 7;
    }
    @media (max-width: 540px) {
        display: none;
    }
}
.entry__swpr {
    height: 100%;
}
.entry__sld {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.entry__sld_name {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.25em;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
    @media (max-width: 768px) {
        font-size: 2em;
        line-height: 1em;
    }
}
.entry__sld_prof {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.7em;
    text-align: center;
    color: #676767;
    @media (max-width: 768px) {
        font-size: 1.8em;
        line-height: 1.2em;
    }
}




