.grid {
  max-width: 1920px;
  margin: 0 auto;
}

.grid__sizer {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  z-index: -1;
}
.grid__sizers {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 0;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  z-index: -1;
}


.index {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(68, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:68; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .index {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(68, 1fr);
      --nr:68; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}

@media (max-width: 540px) {
  .index {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(107, 1fr);
      --nr:107; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}








.physical {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(65, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:65; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .physical {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(69, 1fr);
      --nr:69; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .physical {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(110, 1fr);
      --nr:110; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}









.legal {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(66, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:66; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}

@media (max-width: 1024px) {
  .legal {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(67, 1fr);
      --nr:67; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .legal {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(105, 1fr);
      --nr:105; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}







.agent {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(74, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:74; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .agent {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(81, 1fr);
      --nr:81; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .agent {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(131, 1fr);
      --nr:131; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}

















.lawyer {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(74, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:74; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}

@media (max-width: 1024px) {
  .lawyer {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(83, 1fr);
      --nr:83; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .lawyer {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(132, 1fr);
      --nr:132; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}





.admin {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(76, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:76; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .admin {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(86, 1fr);
      --nr:86; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .admin {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(136, 1fr);
      --nr:136; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}







.arbitr {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(78, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:78; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .arbitr {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(89, 1fr);
      --nr:89; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .arbitr {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(140, 1fr);
      --nr:140; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}










.contacts {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(17, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:17; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .contacts {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(24, 1fr);
      --nr:24; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .contacts {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(35, 1fr);
      --nr:35; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}


.entrys {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(25, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:25; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .entrys {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(36, 1fr);
      --nr:36; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .entrys {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(55, 1fr);
      --nr:55; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}





.comment {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(17, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:17; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .comment {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(15, 1fr);
      --nr:15; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .comment {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(25, 1fr);
      --nr:25; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}





.policy {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:100; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .policy {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(118, 1fr);
      --nr:118; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .policy {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(210, 1fr);
      --nr:210; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}



.information-1 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(90, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:90; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-1 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(96, 1fr);
      --nr:96; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-1 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(157, 1fr);
      --nr:157; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}





.information-2 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(112, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:112; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-2 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(124, 1fr);
      --nr:124; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-2 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(205, 1fr);
      --nr:205; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}



.information-3 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(107, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:107; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-3 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(116, 1fr);
      --nr:116; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-3 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(190, 1fr);
      --nr:190; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}






.information-4 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(102, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:102; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-4 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(117, 1fr);
      --nr:117; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-4 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(198, 1fr);
      --nr:198; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}





.information-5 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(125, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:125; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-5 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(141, 1fr);
      --nr:141; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-5 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(234, 1fr);
      --nr:234; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}






.information-6 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(99, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:99; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-6 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(110, 1fr);
      --nr:110; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-6 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(181, 1fr);
      --nr:181; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}







.information-7 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:100; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-7 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(112, 1fr);
      --nr:112; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-7 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(186, 1fr);
      --nr:186; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}



.information-8 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(88, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:88; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-8 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(96, 1fr);
      --nr:96; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-8 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(157, 1fr);
      --nr:157; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}






.information-9 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(98, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:98; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-9 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(110, 1fr);
      --nr:110; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-9 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(176, 1fr);
      --nr:176; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}




.information-10 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(97, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:97; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-10 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(107, 1fr);
      --nr:107; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-10 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(179, 1fr);
      --nr:179; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}






.information-11 {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(55, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:55; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}
@media (max-width: 1024px) {
  .information-11 {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(57, 1fr);
      --nr:57; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}
@media (max-width: 540px) {
  .information-11 {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(97, 1fr);
      --nr:97; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}





























.services {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:13; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .services {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(13, 1fr);
      --nr:13; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .services {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(22, 1fr);
      --nr:22; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}




.multiLinks {
  .grid {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(33, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:33; /* number of rows */
    --nc:8; /* number of columns */ 
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}

@media (max-width: 540px) {
  .multiLinks {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(27, 1fr);
      --nr:27; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}




.bailiffs {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(27, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:27; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .bailiffs {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(29, 1fr);
      --nr:29; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .bailiffs {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(50, 1fr);
      --nr:50; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}














.freeconsultation {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(40, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:40; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .freeconsultation {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(42, 1fr);
      --nr:42; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .freeconsultation {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(67, 1fr);
      --nr:67; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}










.individual {
  .grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(93, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    --nr:93; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g));
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
  }
}



@media (max-width: 1024px) {
  .individual {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(93, 1fr);
      --nr:93; /* number of rows */
      --nc:8; /* number of columns */ 
    }
  }
}



@media (max-width: 540px) {
  .individual {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(151, 1fr);
      --nr:151; /* number of rows */
      --nc:5; /* number of columns */
    }
  }
}
