.info {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: span 15;
    grid-row: span 6;
    --nr:6; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.1) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g)), #fff;
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
    br {
        display: none;
    }
}
.info__navigation {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    z-index: 1;
}

.info__social {
    grid-column: 15 / 16;
    grid-row: 1 / 5;
    z-index: 1;
}
.info__logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.6em;
    line-height: 1em;
    color: #1F7537;
    text-decoration: none;
    &:hover {
        color: #1F7537;
    }
}
.info__img {
   grid-column: 2 / 15;
   grid-row: 2 / 7; 
//    width: 100%;
//    height: auto;
//    object-fit: cover;
    // background-image: url(../../../images/dist/paper/paper-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information-1 {
    .info__img {
        background-image: url(../images/dist/paper/paper-1.png);
    }
}
.information-2 {
    .info__img {
        background-image: url(../images/dist/paper/paper-11.png);
    }
}
.information-3 {
    .info__img {
        background-image: url(../images/dist/paper/paper-10.png);
    }
}
.information-4 {
    .info__img {
        background-image: url(../images/dist/paper/paper-12.png);
    }
}
.information-5 {
    .info__img {
        background-image: url(../images/dist/paper/paper-2.png);
    }
}
.information-6 {
    .info__img {
        background-image: url(../images/dist/paper/paper-3.png);
    }
}
.information-7 {
    .info__img {
        background-image: url(../images/dist/paper/paper-4.png);
    }
}
.information-8 {
    .info__img {
        background-image: url(../images/dist/paper/paper-5.png);
    }
}
.information-9 {
    .info__img {
        background-image: url(../images/dist/paper/paper-6.png);
    }
}
.information-10 {
    .info__img {
        background-image: url(../images/dist/paper/paper-8.png);
    }
}



@media (max-width: 1024px) {
    .info {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column: span 8;
        grid-row: span 4;
        --nr:4; /* number of rows */
        --nc:8; /* number of columns */
    }
    .info__navigation {
        grid-column: 3 / 8;
        grid-row: 1 / 2;
        z-index: 5;
    }
    
    .info__social {
        grid-column: 8 / 9;
        grid-row: 1 / 5;
    }

    .info__img {
        grid-column: 2 / 8;
        grid-row: 2 / 5; 
 
     }
    
    
    
}


@media (max-width: 540px) {

    .info {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column: span 5;
        grid-row: span 4;
        --nr:4; /* number of rows */
        --nc:5; /* number of columns */
        br {
            display: block;
        }
    }
    .info__social {
        grid-column: 5 / 6;
        grid-row: 1 / 6;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        z-index: 3;
        .social__list:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        .social__list:nth-child(2) {
            display: none;
        }
        .social__list:nth-child(3) {
            display: none;
        }
        .social__list:nth-child(4) {
            display: none;
        }
    }

    .info__img {
        grid-column: 1 / 6;
        grid-row: 2 / 5; 
 
     }

    
}