.nal {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column: span 15;
    grid-row: span 8;
    --nr:8; /* number of rows */
    --nc:15; /* number of columns */
    --b:1px; /* border length */
    
    width: 100%;
    --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.2) 0;
    background:
      linear-gradient(to right, var(--g)),
      linear-gradient(to bottom,var(--g)), $accent;
    background-size:
      calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
      100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
}
.bg__nal {
    grid-column: 8 / 15;
    grid-row: 1 / 7;
    background-image: url(../images/dist/nal/bg__nal.png);
    background-size: cover;
   
}
.nal__animate {
    grid-column: 8 / 15;
    grid-row: 1 / 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    .animate {
    }
    .animate__block {
      // background-image: linear-gradient(#e66465, #9198e5);
      position: relative;
      z-index: 1;
      overflow: hidden;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #217237;
        position: absolute;
        // transition: all 1s linear;
        --nr:1; /* number of rows */
        --nc:2; /* number of columns */
        --b:1px; /* border length */
        border-bottom: 1px solid rgba(187, 187, 187, 0.01);
        border-left: 1px solid rgba(187, 187, 187, 0.01);
        --g:transparent calc(100% - var(--b)),rgba(187, 187, 187, 0.15) 0;
        background:
          linear-gradient(to right, var(--g)),
          linear-gradient(to bottom,var(--g)), $accent;
        background-size:
          calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
          100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
    
      } 
    }
    .animate__block-1 {
      grid-column: 4 / 6;
      grid-row: 1 / 2;
    }
    .animate__block-2 {
      grid-column: 6 / 8;
      grid-row: 1 / 2;
    }
    .animate__block-3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      &:before {
        --nr:1; /* number of rows */
        --nc:1;
      }
    }
    .animate__block-4 {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }
    .animate__block-5 {
      grid-column: 4 / 6;
      grid-row: 2 / 3;
    }
    .animate__block-6 {
      grid-column: 6 / 8;
      grid-row: 2 / 3;
    }
    .animate__block-7 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      &:before {
        --nr:1; /* number of rows */
        --nc:1;
      }
    }
    .animate__block-8 {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }
    .animate__block-9 {
      grid-column: 4 / 6;
      grid-row: 3 / 4;
    }
    .animate__block-10 {
      grid-column: 6 / 8;
      grid-row: 3 / 4;
    }
    .animate__block-11 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      &:before {
        --nr:1; /* number of rows */
        --nc:1;
      }
    }
    .animate__block-12 {
      grid-column: 2 / 4;
      grid-row: 4 / 5;
    }
    .animate__block-13 {
      grid-column: 4 / 6;
      grid-row: 4 / 5;
    }
    .animate__block-14 {
      grid-column: 6 / 8;
      grid-row: 4 / 5;
    }
    .animate__block-15 {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      &:before {
        --nr:1; /* number of rows */
        --nc:1;
      }
    }
    .animate__block-16 {
      grid-column: 2 / 4;
      grid-row: 5 / 6;
    }
    .animate__block-17 {
      grid-column: 4 / 6;
      grid-row: 5 / 6;
    }
    .animate__block-18 {
      grid-column: 6 / 8;
      grid-row: 5 / 6;
    }
    .animate__block-19 {
      grid-column: 2 / 4;
      grid-row: 6 / 7;
    }
    .animate__block-20 {
      grid-column: 4 / 6;
      grid-row: 6 / 7;
    }
    .animate__block-21 {
      grid-column: 6 / 8;
      grid-row: 6 / 7;
    }
  }
.nal__logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.6em;
    line-height: 1em;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

.nal__navigation {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    z-index: 1;
}

.nal__social {
    grid-column: 15 / 16;
    grid-row: 1 / 5;
}

.nal__title {
    grid-column: 2 / 7;
    grid-row: 3 / 5;
    align-self: center;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9.6em;
    line-height: 1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.nal__subtitle {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4em;
    line-height: 1.2em;
    text-align: right;
    color: #FFFFFF;
    align-self: center;
    justify-self: end;
}
.nal__btn {
    grid-column: 3 / 6;
    grid-row: 5 / 6;
}

.nal__block-1 {
    grid-column: 4 / 7;
    grid-row: 7 / 9;
}
.nal__block-2 {
    grid-column: 7 / 10;
    grid-row: 7 / 9;
}
.nal__block-3 {
    grid-column: 10 / 13;
    grid-row: 7 / 9;
}


.nal__color-1 {
    grid-column: 1 / 3;
    grid-row: 7 / 9;
    background-color: $darkgreen;
}

.nal__color-2 {
    grid-column: 10 / 11;
    grid-row: 1 / 2;
    background-color: $darkgreen;
}

.nal__color-3 {
    grid-column: 15 / 16;
    grid-row: 8 / 9;
    background-color: $darkgreen;
}



@media (max-width: 1024px) {
    .nal {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column: span 8;
        grid-row: span 12;
        --nr:12; /* number of rows */
        --nc:8; /* number of columns */
    }
    .nal__animate {
      display: none;
    }
    .bg__nal {
        grid-column: 2 / 9;
        grid-row: 2 / 6;  
        background-image: url(../images/dist/nal/bg__nal-tablet.png);
    }
    
    .nal__logo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .nal__navigation {
        grid-column: 3 / 7;
        grid-row: 1 / 2;
        z-index: 5;
    }
    
    .nal__social {
        grid-column: 8 / 9;
        grid-row: 1 / 5;
    }
    
    .nal__title {
        grid-column: 2 / 5;
        grid-row: 6 / 7;
        font-size: 6.2em;
    }
    .nal__subtitle {
        grid-column: 4 / 6;
        grid-row: 6 / 7;
        align-self: end;
        margin-bottom: 12px;
        margin-right: 16px;
    }
    .nal__btn {
        grid-column: 6 / 9;
        grid-row: 8 / 9;
    }
    
    .nal__block-1 {
        grid-column: 2 / 5;
        grid-row: 8 / 10;
    }
    .nal__block-2 {
        grid-column: 2 / 5;
        grid-row: 10 / 12;
    }
    .nal__block-3 {
        grid-column: 6 / 9;
        grid-row: 10 / 12;
    }
    
    
    .nal__color-1 {
        grid-column: 1 / 3;
        grid-row: 7 / 9;
        background-color: $darkgreen;
        display: none;
    }
    
    .nal__color-2 {
        grid-column: 10 / 11;
        grid-row: 1 / 2;
        background-color: $darkgreen;
        display: none;
    }
    
    .nal__color-3 {
        grid-column: 15 / 16;
        grid-row: 8 / 9;
        background-color: $darkgreen;
        display: none;
    }
}


@media (max-width: 540px) {
    .nal {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(13, 1fr);
        grid-column: span 5;
        grid-row: span 13;
        --nr:13; /* number of rows */
        --nc:5; /* number of columns */
    }
    .nal__social {
        grid-column: 1 / 6;
        grid-row: 1 / 6;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        z-index: 3;
        .social__list:nth-child(1) {
            grid-column: 5 / 6;
            grid-row: 1 / 2;
        }
        .social__list:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        .social__list:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
        .social__list:nth-child(4) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
    }
    
    .nal__title {
        grid-column: 1/4;
        grid-row: 6/8;
        font-size: 5.2em;
    }
    .nal__subtitle {
        grid-column: 3 / 5;
        grid-row: 6 / 7;
        font-size: 1.6em;
        line-height: 1em;
        align-self: end;
        margin-bottom: 0.5em;
        justify-self: center;
    }
    .nal__btn {
        grid-column: 5 / 6;
        grid-row: 13 / 14;
        span {
            &:first-child {
                display: none;
            }
        }
    }
    .bg__nal {
        grid-column: 2 / 6;
        grid-row: 2 / 6;
        background-image: url(../images/dist/nal/bg__nal-mobile.png);
    }
    .nal__logo {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        font-size: 2.4em;
        justify-self: center;
        z-index: 4;
    }
    
    .nal__title {
        grid-column: 1 / 4;
        grid-row: 6 / 8;
        font-size: 6.2em;
        margin-left: 25px;
    }
    .nal__subtitle {
        grid-column: 3 / 6;
        grid-row: 7 / 8;
        align-self: center;
        margin-bottom: 12px;
        margin-right: 0px;
    }
    
    .nal__block-1 {
        grid-column: 1 / 6;
        grid-row: 8 / 9;
    }
    .nal__block-2 {
        grid-column: 1 / 6;
        grid-row: 9 / 11;
    }
    .nal__block-3 {
        grid-column: 1 / 6;
        grid-row: 11 / 12;
    }
    
}