.params {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column: span 15;
    grid-row: span 1;
    background-color: $accent;
}
.params__info {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2em;
    color: #B6CBBC;
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    align-self: start;
    margin-top: 1.5em;
}
.params__block {
    grid-column: 2 / 13;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-self: end;
    margin-bottom: 1.5em;
}
.params__text {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}