.spec {
    grid-column: span 15;
    grid-row: span 9;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 1fr);
    display: grid;
    background-color: #FBFDFC;
}
.spec__title {
    grid-column: 2 / 8;
    grid-row: 2 / 4;
    align-self: center;
    z-index: 1;
}
.spec__name {
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #1F7537;
    @media (max-width: 540px) {
        font-size: 2.4em;
        line-height: 1.3em;
    }
}
.spec__prof {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.0em;
    line-height: 1.5em;
    color: #4C915F;
}


.spec__img {
        grid-column: 2 / 7;
        grid-row: 4 / 9;
        background-image: url(../images/dist/spec/spec-1.png);
        background-size: cover;
        @media (max-width: 1024px) {
            grid-column: 1 / 5;
            grid-row: 3 / 7;
        }
        @media (max-width: 540px) {
            grid-column: 1 / 4;
            grid-row: 8 / 11;
        }
    }
    .spec__name {
        grid-column: 9 / 11;
        grid-row: 7 / 8;
        align-self: flex-start;
        span {
            margin-left: 2em;
        }
        @media (max-width: 1024px) {
            display: none;
        }
        @media (max-width: 540px) {
            display: block;
            grid-column: 2 / 6;
            grid-row: 8 / 9;
            margin-left: 2em;
        }
    }
    .spec__prof {
        grid-column: 9 / 12;
        grid-row: 7 / 9;
        align-self: center;
        margin-left: 2.8em;
        @media (max-width: 1024px) {
            display: none;
        }
        @media (max-width: 540px) {
            grid-column: 2 / 6;
            grid-row: 8 / 10;
            display: block;
            align-self: center;
            margin-left: 5.5em;
        }
    }



    .agent, .admin {
        .spec__img {
            background-image: url(../images/dist/spec/spec-2.png);
        }
        .spec__name {
            span {
                margin-left: 1em;
            }
            @media (max-width: 540px) {
                grid-column: 3 / 6;
                grid-row: 8 / 9;
                display: block;
                margin-left: 1em;
            }
        }
        .spec__prof {
            @media (max-width: 540px) {
                grid-column: 3 / 6;
                grid-row: 8 / 10;
                display: block;
                align-self: center;
                margin-top: 0em;
                margin-left: 3.5em;
            }
        }
    }

    .lawyer {
        .spec__img {
            background-image: url(../images/dist/spec/spec-3.png);
            
        }
        .spec__name {
            span {
                margin-left: 1em;
            }
            @media (max-width: 540px) {
                grid-column: 3 / 6;
                grid-row: 8 / 9;
                display: block;
                margin-left: 1em;
            }
        }
        .spec__prof {
            @media (max-width: 540px) {
                grid-column: 3 / 6;
                grid-row: 8 / 10;
                display: block;
                align-self: center;
                margin-top: 0em;
                margin-left: 3.5em;
            }
        }
    }

.spec__form {
    grid-column: 8 / 15;
    grid-row: 4 / 6;
}


.spec__color-1 {
    grid-column: 9 / 10;
    grid-row: 1 / 2;
    background-color: $lightorange;
}
.spec__color-2 {
    grid-column: 14 / 15;
    grid-row: 2 / 3;
    background-color: $lightgreen;
}
.spec__color-3 {
    grid-column: 13 / 14;
    grid-row: 3 / 4;
    background-color: $lightorange;
}
.spec__color-4 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background-color: darken($lightorange, 20);
    opacity: 0.1;
}
.spec__color-5 {
    grid-column: 15 / 16;
    grid-row: 7 / 8;
    background-color: $lightorange;
}
.spec__color-6 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    background-color: $lightorange;
    opacity: 0.1;
}
.spec__color-7 {
    grid-column: 7 / 8;
    grid-row: 7 / 8;
    background-color: darken($lightgreen, 30);
    opacity: 0.1;
}
.spec__color-8 {
    grid-column: 8 / 9;
    grid-row: 8 / 9;
    background-color: darken($lightorange, 30);
    opacity: 0.1;
}
.spec__color-9 {
    grid-column: 5 / 6;
    grid-row: 9 / 10;
    background-color: $lightgreen;
}
.spec__color-10 {
    grid-column: 13 / 14;
    grid-row: 9 / 10;
    background-color: $lightgreen;
}


@media (max-width: 1024px) {
    .spec {
        grid-column: span 8;
        grid-row: span 7;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
        --nr: 7;
        --nc: 8;
    }
    .spec__title {
        grid-column: 2 / 8;
        grid-row: 2 / 3;
        font-size: 4.8em;
        align-self: flex-start;
    }
    .spec__form {
        grid-column: 5 / -1;
        grid-row: 3 / 6;
    }
    
    .spec__color-1 {
        display: none;
    }
    .spec__color-2 {
        grid-column: 7 / 8;
        grid-row: 1 / 2;
    }
    .spec__color-7 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
}

@media (max-width: 540px) {
    .spec {
        grid-column: span 5;
        grid-row: span 11;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(11, 1fr);
        --nr: 11;    
        --nc: 5;
        & + .grid__padding {
            display: none;
        }
    }
    .spec__title {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        font-size: 4.2em;
        align-self: flex-end;
        line-height: 36px;
        padding: 0 24px;
    }

    .spec__form {
        grid-column: 1 / -1;
        grid-row: 4 / 7;
    }


    .spec__name {
        // display: block;
        // grid-column: 3 / 6;
        // grid-row: 7 / 9;
        // align-self: center;
        // padding-left: 5em;
    }
    .spec__color-4 {
        display: none;
    }
    .spec__color-6 {
        grid-column: 5 / 6;
        grid-row: 10 / 11;
    }
    .spec__color-7 {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    .spec__color-9 {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }
    .spec__color-10 {
        display: none;
    }
}